* {
	margin: 0px;
	padding: 0px;
}



.div1{
background-color: antiquewhite;

}
.div2{
background-color: aqua;

}
.div3{
background-color: deeppink;

}
.div4{
background-color: aquamarine;
}
.div5{
background-color: black;
}
.div6{
background-color: blue;
}
.div7{
background-color: firebrick;
}
.div8{
background-color: dodgerblue;

}
.div9{
background-color: deepskyblue;

}
.div10{
background-color: darkturquoise;

}

