<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="grid-layout.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<title>Advance Framework LAYOUT</title>


</head>

<body>
	<div class="container" style="height: 100vh">

		<div class="row" style="height:100vh">
			<div class="div1 col s3" style="height: 100vh"> Div1 </div>
			<div class="col s9" style="height: 100vh">
				<div class="row">

					<div class="div2 col s12" style="height: 5vh"></div>

				</div>
				<div class="row">

					<div class="div7 col s12" style="height: 20vh"></div>

				</div>
				<div class="row">

					<div class="div3 col s6 m3" style="height: 15vh"></div>
					<div class="div4 col s6 m3" style="height: 15vh"></div>
					<div class="div5 col s6 m3" style="height: 15vh"></div>
					<div class="div6 col s6 m3" style="height: 15vh"></div>

				</div>

				<div class="row">

					<div class="div8 col s12 m6" style="height: 50vh">


					</div>
					<div class="col s12 m6" style="height: 50vh">
						<div class="div9 row" style="height: 25vh">

						</div>

						<div class="div10 row" style="height: 22.5vh">

						</div>
					</div>


				</div>

			</div>
		</div>



	</div>
</body>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script></html>
